/*reset*/
:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.ul-links {
  margin: 0;
  padding: 0;
  list-style: none; 
  text-decoration: none;
}
.ul-links > li > a {
  display: block;
}