body {
  max-height: 100vh;
  margin: 0;
}

.container {
  display: grid;
  align-content: space-between;
  grid-template: 
    " nav    nav     nav    nav      nav      nav   "
    "slogan slogan slogan img-food img-food img-food"
    "recipe recipe    .   img-food img-food img-food"
    "  .      .    socials socials  socials  socials"
  ;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
}
@media (orientation: portrait), (max-width:837px) {
  .container {
    grid-template: 
    " nav    nav     nav    nav      nav      nav   "
    "slogan slogan slogan img-food img-food img-food"
    "recipe recipe recipe  recipe     .        .    "
    "  .      .    socials  socials  socials socials"
  ;
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width:575px) {
  .container {
    grid-template: 
    " nav     "
    "slogan   "
    "img-food "
    "recipe   "
    "socials  "
    ; 
  }
}


.container__nav {
  grid-area: nav;
}

.container__slogan {
  grid-area: slogan;
}

.container__img-food {
  grid-area: img-food;
}

.container__recipe {
  grid-area: recipe;
}

.container__socials {
  grid-area: socials;
}