.nav {
  display: flex;
  justify-content: space-between;
}

.nav__title {
  flex: 1;
  font-size: 1.1em;
  color: #fff;
}

.nav__ul-links {
  flex: 1;
  justify-content: stretch;
  display: flex;
  
}
.nav__ul-links > * {
  flex: 1;
}
.nav__ul-links  > li > a {
  text-align: center;
  color: #fff;
}

.nav__dropdown {
  flex: 1;
  text-align: right;
}