.recipe {
  position: relative;
  padding: 3em 2em 4em;
  background-color: #fff;
}

.recipe__details {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: -2em;
  left: calc(50% - 10vw);
  width: 20vw; 
  min-width: 8rem;
  min-height: 4rem;
	padding: 1.5em 1em;
	color: #252525;
	background-color:#F8D972;	
	text-decoration: none;
}

.recipe__scroll {
  display: flex;
  position: absolute;
  width: 8rem;
  height: 4rem;
  right: -8rem;
  top: 0;
	color: #252525;
	background-color:#F8D972;	
}
@media (max-width:575px) {
  .recipe__scroll {
    top: auto;
    bottom: -2rem;
    left: 0;
  }
}

.recipe__scroll > * {
  font-size: 0;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.recipe__scroll > *:hover {
  background-color: #fff;
}

.scroll__previous {
  background-color: #F8D972;
}

.scroll__next {
  background-color:#797979;
}